:root{
  --brand-color: #f57c00;
  --brand-light-color: #ff9900;
  --light-color: #f1f1f1;
  --dark-color: #4C3D3D;
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  --border:.2rem solid var(--dark-color);
}
/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Form Styles */
.form-container form{
  padding:2rem;
  text-align: center;
  background-color: var(--light-color);
  box-shadow: var(--box-shadow);
  border-radius: .5rem;
  border:var(--border);
  max-width: 50rem;
  margin:0 auto;
}

.form-container form h3 {
  margin-top: 0;
  font-size: 24px;
  font-weight: bold;
}

.form-container form p {
  color: var(--dark-color);
  margin-top: 5px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
  font-size: 15px;
}

select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: var(--brand-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--brand-light-color);
}

/* Result Styles */
.result-container {
  margin-top: 20px;
}

.result-form-container form{
  padding:2rem;
  text-align: left;
  background-color: var(--light-color);
  box-shadow: var(--box-shadow);
  border-radius: .5rem;
  border:var(--border);
  max-width: 50rem;
  margin:0 auto;
}

.itemListResult {
  margin-top: 10px;
}

.itemListResult h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 10px;
}

.itemListResult ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 15px;
}

.itemListResult li {
  margin-bottom: 5px;
  font-size: 15px;
}

.itemListResult p {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: bold;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .container {
    padding: 10px;
  }

  .form-container {
    padding: 10px;
  }

  button {
    font-size: 14px;
  }
}
