:root{
  --brand-color: #f57c00;
  --brand-light-color: #ff9900;
  --light-color: #f1f1f1;
  --dark: #4C3D3D;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

form {
  background-color: var(--light-color);
  padding: 20px;
}

h2 {
  text-align: center;
  margin-top: 0;
}

.input-field {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
  font-size: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--dark);
  border-radius: 10px;
  font-size: 16px;
}

input[type="submit"] {
  background-color: var(--brand-color);
  color: var(--light-color);
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: var(--brand-light-color);
}

input[type="submit"]:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}


.register-now {
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
}

.register-now a {
  color: var(--brand-color);
  text-decoration: none;
}

.register-now a:hover {
  text-decoration: underline;
  color: var(--brand-light-color);
}

.user-header, .footer {
  position: relative;
  z-index: 1;
}

.show-hide {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.password-toggle {
  position: relative;
}

.password-toggle i {
  position: absolute;
  top: 50%;
  right: 10px;
  cursor: pointer;
  transform: translateY(-50%);
  color: var(--dark);
  font-size: 14px;
}

.toggle-password:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f06e";
}

.toggle-password.fa-eye:before {
  content: "\f070";
}

@media (max-width: 360px) {
  .container {
    max-width: 320px;
    padding: 10px;
  }

  form {
    padding: 10px;
  }

  h2 {
    font-size: 18px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    font-size: 14px;
  }

  button[type="submit"] {
    font-size: 14px;
  }

  .register-now {
    font-size: 12px;
  }
}

